@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
#root {
  width: 100%;
}
html {
  /* --main-color: whitesmoke; */
}

h1,
h2 {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4rem;
}

main {
  display: flex;
  justify-content: center;

  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;

  background-color: aliceblue;
}
