.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  background-color: rgba(187, 187, 187, 0.39);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;

  padding: 1rem;
  gap: 1rem;
  width: 900px;
  height: 85vh;

  overflow-y: scroll;
  scrollbar-width: thin;
}

.sort-wrapper {
  display: flex;
  gap: 2rem;
}

.todo-items-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  padding: 1rem;
  gap: 1rem;
}
